{% extends 'base.html.twig' %}

{% block content %}

        <div class="card">
            <div class="titre-projet-machines">
                COUCOU
            </div>
        </div>

{% endblock %}